%div{ :class => "header" }
  %a{ :href => "/", :class => "logo" }= "LARA MIRANDA GOODMAN"

  %div{ :class => "header-right" }
    %a{ :href => "/paintings" }= "PAINTINGS"
    %a{ :href => "/CV" }= "CV"
    %a{ :href => "/contact" }= "CONTACT"
