%div{ class: "bgimg" }

%div{ class: "billboard" }
  %div{ class: "title" }= "LARA MIRANDA GOODMAN"
  %div
    %div{ class: "button" }
      %a{ href: "/paintings" }= "ENTER"
    %div{ class: "icon" }
      %a{ href: "https://www.facebook.com/laramirandagoodman/", class: "fa fa-facebook home-icon"}
      %span &nbsp;
      %a{ href: "https://www.instagram.com/laramirandagoodman/", class: "fa fa-instagram home-icon"}
        
