$break-small: 320px
$break-large: 1200px

html
  height: 100%

body
  height: 100%

.bgimg
  background-image: url("https://s3.amazonaws.com/laramirandagoodman-assets/ygcbihdwukvzsuay.jpg")
  height: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: cover

.billboard
  position: absolute
  left: 0px
  top: 0px
  padding: 75px
  
.billboard .title
  color: #fff
  font-weight: bold
  font-size: 100px

.billboard .button
  color: #000
  background: #fff
  padding: 10px
  margin: 20px 0px 20px 0px
  font-weight: bold
  width: 100px
  text-align: center

.billboard .button a:link
  color: #000
  text-decoration: #000

.billboard .button a:visited
  color: #000
  text-decoration: #000

.billboard .button a:hover
  color: #000
  text-decoration: #000

.billboard .button a:active
  color: #000
  text-decoration: #000

.billboard .icon
  color: #fff

.button
  cursor: pointer

.is-right
  float: right

.card
  border: 0px

.navbar
  margin: 20px

.navbar-brand a:link
  color: #000
  text-decoration: none

.navbar-brand a:visited
  color: #000
  text-decoration: none
  
.navbar-brand a:hover
  color: #000
  text-decoration: none
  
.navbar-brand a:active
  color: #000
  text-decoration: none

.nav-item a:link
  color: #999
  text-decoration: none

.nav-item a:visited
  color: #999
  text-decoration: none
  
.nav-item a:hover
  color: #000
  text-decoration: none
  
.nav-item a:active
  color: #000
  text-decoration: none

.modal
  display: none
  position: fixed
  z-index: 1
  padding-top: 100px
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: black

.modal-content
  position: relative
  background-color: #fefefe
  margin: auto
  padding: 0
  width: 90%
  max-width: 1200px

.row 
  display: flex
  flex-wrap: wrap
  padding: 0 4px

.column
  flex: 50%
  max-width: 50%
  padding: 0 4px

.column img
  margin-bottom: 64px
  vertical-align: middle
  width: 90%
  cursor: pointer
  
@media screen and (max-width: 1000px)
  .column
    flex: 100%
    max-width: 100%
    
.close
  color: white
  position: absolute
  top: 10px
  right: 25px
  font-size: 35px
  font-weight: bold

.close:hover,
.close:focus
  color: #999
  text-decoration: none
  cursor: pointer
  
.prev,
.next
  cursor: pointer
  position: absolute
  top: 50%
  width: auto
  padding: 16px
  margin-top: -50px
  color: white
  font-weight: bold
  font-size: 20px
  transition: 0.6s ease
  border-radius: 0 3px 3px 0
  user-select: none
  -webkit-user-select: none

.next
  right: 0
  border-radius: 3px 0 0 3px

.prev:hover,
.next:hover
  background-color: rgba(0, 0, 0, 0.8)

.caption-container
  text-align: center
  background-color: black
  padding: 2px 16px
  color: white

img.demo
  opacity: 0.6

.active,
.demo:hover
  opacity: 1

img.hover-shadow
  transition: 0.3s

.hover-shadow:hover
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

#footer
  text-align: center
  font-size: small
  padding: 50px 50px 50px 50px
